.add-user {
  width: 800px;
  align: center;
  background-color: #339933;
  color: #000000;
  margin: auto;
  border: 4px solid #00ff00;
  padding: 0;
}

.add-user-description {
}

.input-label {
  text-align: left;
  margin: 16px 2px 8px 40px;
  font-size: 24px;
  color: #333333;
}

.text-input {
  width: 600px;
  background-color: #999999;
  text-align: left;
  margin: 0;
  font-size: 20px;
  color: #0000ff;
}

.required-indicator {
  color: #ff3333;
}

.required-field-note {
  text-align: left;
  margin: 16px 2px 12px 40px;
  font-size: 16px;
}
