.show-players {
  width: 800px;
  background-color: #333399;
  color: #aaaaaa;
  margin: auto;
  border: 4px solid #0000ff;
  padding: 0;
  display: grid;
  grid-template-columns: 76px 548px 176px;
  grid-template-rows: auto auto 64px;
  grid-template-areas:
  'carrot carrot carrot'
  'left players right'
  'required-field-note required-field-note show-games-controls'
 }

.carrot {
  grid-area: carrot;
}

.left {
  grid-area: left;
}

.players {
  grid-area: players;
}

ul.players-list {
  list-style-type: none;
  margin: 8px; border: 0; padding: 0;
}

.listed-player {
  text-align: left;
  background-color: #6666aa;
  color: #000000;
  margin: 2px;
  border: 2px solid #000000;
  padding: 6px 0 4px 20px;
}

li.listed-player p {
  font-size: 16px;
  margin: 0; border: 0; padding: 4px 0 4px 0;
}

.show-games-controls {
  grid-area: show-games-controls;
}